.main-wrapper {
    overflow-x: hidden;
}
a:hover {
    color: var(--color_primary)
}

input:not([type=submit]),
textarea {
    color: #575757 !important;
}

.blog-single-area h3,
.blog-single-area h4,
.blog-single-area h5,
.blog-single-area h6 {
    margin-bottom: 16px;
}

.blog-single-area figure.wp-block-image {
    margin: 30px 0;
}

.blog-single-area > ul {
    margin-bottom: 24px;
}
.blog-single-area > ul li {
    position: relative;
}

.blog-single-area blockquote {
    position: relative;
    background: #F6F6F6;
    padding: 40px 32px;
    border-radius: 5px;
    margin: 40px 0;
}

.blog-single-area blockquote::before {
    content: url("../images/blog/qoute.svg");
    position: absolute;
    right: 30px;
    bottom: 24px;
}

.blog-single-area blockquote p {
    font-weight: 500;

}
.blog-single-area blockquote cite {
    font-size: 17px;
    font-weight: 700;
    color: #0b163f;
    line-height: 1.2;
}

.comment_form_wrapper .blog_title {
    margin-bottom: 30px;
}

.comment_form_wrapper .comment_form .form-submit {
    margin-top: 0;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    word-wrap: normal !important;
    /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
    margin-bottom: 10px;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
    margin-bottom: 40px;
    clear: both;
}

.alignright.size-full {
    margin-bottom: 60px;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-block-image .alignright {
    float: right;
    margin: 0.5em 0 2em 1em;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.header-section:before,
.header-section:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear-both,
.clear:after,
.entry-content:after,
.comment-content:after,
.header-section:after,
.site-content:after,
.site-footer:after {
    clear: both;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

iframe {
    border-width: 0px;
}

.entry-content iframe {
    max-height: 500px;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
    display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*=wp-image-] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}

.blog-content .gallery {
    padding: 0;
    margin: 0;
}

/*--------------------------------------------------------------
## Block
--------------------------------------------------------------*/
.wp-block-button .wp-block-button__link {
    background: #111010;
    border-radius: 50px;
    margin-bottom: 10px;
    color: #fff;
    transition: 0.3s;
}

.wp-block-button .wp-block-button__link:hover {
    background: var(--color_primary);
    color: #fff;
}

.wp-block-button .wp-block-button__link br {
    display: none;
}

.wp-block-button.is-style-outline .wp-block-button__link {
    background: transparent;
    color: #111010;
    border-color: #111010;
}

.wp-block-button.is-style-outline .wp-block-button__link:hover {
    border-color: var(--color_primary);
    color: var(--color_primary);
}

.wp-block-button.is-style-squared .wp-block-button__link {
    border-radius: 0;
}

.blocks-gallery-grid .blocks-gallery-image,
.blocks-gallery-grid .blocks-gallery-item,
.wp-block-gallery .blocks-gallery-image,
.wp-block-gallery .blocks-gallery-item {
    width: calc(50% - 30px);
}

.blocks-gallery-grid .blocks-gallery-image,
.blocks-gallery-grid .blocks-gallery-item,
.wp-block-gallery .blocks-gallery-image,
.wp-block-gallery .blocks-gallery-item {
    margin: 0 30px 16px 0;
}

.wp-block-cover {
    margin-bottom: 15px;
}

.wp-block-cover .wp-block-cover-text {
    padding: 30px;
}

.wp-block-gallery .blocks-gallery-image,
.wp-block-gallery .blocks-gallery-item {
    padding-left: 0;
}

.wp-block-gallery .blocks-gallery-image:before,
.wp-block-gallery .blocks-gallery-item:before {
    display: none;
}

.wp-block-cover p:not(.has-text-color) {
    color: #fff !important;
    line-height: 1.8;
}

.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
    background-color: transparent;
}

.wp-block-quote.is-large p,
.wp-block-quote.is-style-large p {
    font-size: 1.6em;
    font-weight: 300;
}

.wp-block-quote.is-large:before,
.wp-block-quote.is-large:after,
.wp-block-quote.is-style-large:before,
.wp-block-quote.is-style-large:after {
    display: none;
}

.wp-block-quote {
    border: none;
}

.wp-block-quote.has-text-align-right {
    border-right: none;
}

.wp-block-quote.has-text-align-right:before {
    content: none;
}

.wp-block-quote.has-text-align-right:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background: var(--color_primary);
    border-radius: 0 10px 10px 0;
}

.bd-content-wrapper blockquote p {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: #001042;
}

.wp-block-pullquote {
    border-top: 4px solid #F3F3F3;
    border-bottom: 4px solid #F3F3F3;
    color: #40464d;
}

.autohive_blog_content .wp-block-pullquote.is-style-solid-color {
    background-color: #0073aa;
    padding-left: 0;
    padding-right: 0;
}

.autohive_blog_content .wp-block-pullquote {
    border-color: transparent;
    border-width: 2px;
    padding: 0;
}


.autohive_blog_content .wp-block-pullquote blockquote:after {
    display: none;
}

.autohive_blog_content .wp-block-pullquote.is-style-solid-color blockquote {
    max-width: 100%;
    color: #fff;
    padding-left: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

.autohive_blog_content .wp-block-pullquote blockquote {
    color: #111;
    border: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 0;
    padding-left: 0;
}


.autohive_blog_content .wp-block-pullquote.is-style-solid-color p {
    font-size: 1.6875em;
    line-height: 1.3;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.autohive_blog_content .wp-block-pullquote p {
    font-size: 1.6875em;
    font-style: italic;
    line-height: 1.3;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.autohive_blog_content .wp-block-archives li time,
.autohive_blog_content .wp-block-categories li time,
.autohive_blog_content .wp-block-latest-posts li time {
    line-height: 1;
}

.autohive_blog_content .wp-block-archives li a,
.autohive_blog_content .wp-block-categories li a,
.autohive_blog_content .wp-block-latest-posts li a {
    font-size: 16px;
    color: #465675;
}


.autohive_blog_content .wp-block-archives li a:hover,
.autohive_blog_content .wp-block-categories li a:hover,
.autohive_blog_content .wp-block-latest-posts li a:hover {
    color: var(--color_primary);
}

.autohive_blog_content .wp-block-archives li .children,
.autohive_blog_content .wp-block-categories li .children,
.autohive_blog_content .wp-block-latest-posts li .children {
    padding-left: 30px;
}

.autohive_blog_content .wp-block-categories-list .children li {
    padding-left: 0;
}

.autohive_blog_content .wp-block-categories-list .children li:before {
    display: none;
}
.wp-block-media-text.alignfull.has-media-on-the-right.has-background.is-stacked-on-mobile {
    margin-bottom: 15px;
}

pre.wp-block-preformatted {
    margin-top: 20px;
}

.post_format-post-format-quote blockquote {
    margin-top: 0;
}

.wp-block-archives,
.wp-block-categories-list {
    padding: 0;
    list-style: none;
}

.wp-block-archives li:not(:last-clild),
.wp-block-categories-list li:not(:last-clild) {
    margin-bottom: 10px;
}

.wp-block-categories-dropdown select,
.wp-block-archives-dropdown select {
    height: 50px;
    width: 100%;
    padding: 7px 10px;
    border-radius: 5px;
}

.wp-block-latest-comments__comment .wp-block-latest-comments__comment-meta a {
    color: #111010;
    font-weight: 500;
    font-size: 16px;
    display: inline;
}

.blog-list-wrapper .btn-meta:hover,
.wp-block-latest-comments__comment .wp-block-latest-comments__comment-meta a:hover {
    color: var(--color_primary);
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
    max-width: 100px;
}

.wp-block-calendar .wp-calendar-nav {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.wp-block-categories-dropdown .postform {
    margin-bottom: 20px;
}

.sidebar .widget form .wp-block-search__button {
    background-color: var(--color_primary);
    color: #ffffff;
    border-radius: 0px 5px 5px 0px;
    border-color: var(--color_primary);
    padding: 11px 13px;
    fill: #fff;
}

.autohive_blog_content .wp-block-search .wp-block-search__button {
    padding: 0 20px;
    height: 54px;
    border: 0;
    background: var(--color_primary);
    border-radius: 0 6px 6px 0;
    color: #fff;
    font-weight: 500;
    margin-left: -5px;
}

.autohive_blog_content .wp-block-search .wp-block-search__button:hover {
    background: #111010;
}

.wp-block-gallery.is-cropped .blocks-gallery-caption:last-child,
.wp-block-gallery.is-cropped {
    margin-bottom: 1rem;
}

/* Unit Test changes =============== */
.autohive_blog_content h1 {
    font-size: 48px
}

.autohive_blog_content h2 {
    font-size: 40px
}

.autohive_blog_content h3 {
    font-size: 32px
}

.autohive_blog_content h4 {
    font-size: 24px
}

.autohive_blog_content h5 {
    font-size: 20px
}

.autohive_blog_content h6 {
    font-size: 16px
}

.sidebar .widget ul li a,
.h2-blog-card-content h3,
.breadcrumb-content-wrapper .text-white,
.autohive_blog_content .blog-title {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

a.tag-btn.rounded-pill.no_thumb {
    margin-bottom: 15px;
    position: relative;
    top: 0;
}

.bog-author .date a {
    color: #666666;
}

.hm2-blog-card .hm2-blog-card-content {
    padding-left: 30px;
    padding-right: 30px;
}

.sidebar .widget h1,
.sidebar .widget h2,
.sidebar .widget h3,
.sidebar .widget h4,
.sidebar .widget h5,
.sidebar .widget h6 {
    font-size: 20px;
    position: relative;
    margin-bottom: 30px;
}

.sidebar .widget {
    background-color: #ffffff;
    padding: 40px 24px;
    border-radius: 5px;
    margin-bottom: 24px;
}

.sidebar .widget ol li:last-child,
.sidebar .widget:last-child {
    margin-bottom: 0;
}
.sidebar .widget ul li .sub-menu li,
.sidebar .widget ul li .children li,
.sidebar .widget ul li + li {
    margin-top: 30px;
    position: relative;
}
.sidebar .widget ul li .sub-menu li::before,
.sidebar .widget ul li .children li::before,
.sidebar .widget ul li + li::before {
    content: "";
    position: absolute;
    left: 0;
    top: -15px;
    width: 100%;
    height: 1px;
    background: rgba(11, 22, 63, 0.07);
    opacity: 0.5;
}

.sidebar .widget ul li .sub-menu,
.sidebar .widget ul li .submenu-container,
.sidebar .widget ul li .children {
    padding-left: 18px;
}



.sidebar .widget ul li a {
    display: block;
    color: #7A7A7A;
    font-weight: 500;
    font-size: 15px;
    -webkit-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}

.sidebar .widget ul li a span {
    float: right;
}

.sidebar .widget .wp-block-social-links li + li {
    margin-top: 0;
}


.sidebar .widget .has-login-form form p > input {
    border: 1px solid rgba(11, 22, 63, 0.07);
    width: 100%;
    border-radius: 5px;
    height: 40px;
}
.sidebar .widget .has-login-form form p.login-submit input {
    background-color: var(--color_primary);
    border-color: var(--color_primary);
    color: #ffffff;
    height: auto;
}

.sidebar .widget .has-login-form form p.login-submit input:hover {
    background-color: #111010;
}

.sidebar .widget ul li.recentcomments a,
.sidebar .widget ul li.recentcomments span {
    display: inline;
}

.h2-blog-card-content .content_cats {
    gap: 4px
}

.wp-block-tag-cloud,
.sidebar .widget .wp-block-tag-cloud,
.sidebar .widget .tagcloud {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.wp-block-tag-cloud a,
.sidebar .widget .tagcloud a {
    padding: 6px 14px;
    border: 1px solid rgba(11, 22, 63, 0.07);
    border-radius: 3px;
    display: inline-block;
    font-size: 14px !important;
    font-weight: 500;
    color: #7A7A7A;
    -webkit-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}

.sidebar .widget ol {
    padding-left: 0;
}

.sidebar .widget .wp-block-tag-cloud a:hover,
.sidebar .widget .tagcloud a:hover {
    color: #ffffff;
    border-color: var(--color_primary);
    background-color: var(--color_primary)
}

.sidebar .widget ul li a:hover {
    color: var(--color_primary)
}

.search_result_form {
    margin-bottom: 16px;
}

.search_result_form form {
    display: flex;
}

.autohive_blog_content .post-password-form label > input,
.sidebar .widget_search form input,
.search_result_form form input {
    padding: 12px 15px 12px 15px;
    border-radius: 5px;
    font-weight: 500;
    width: 86%;
    border: 1px solid rgba(11, 22, 63, 0.07);
}
.autohive_blog_content .post-password-form input[type=submit],
.sidebar .widget_search form .search-submit,
.search_result_form form .search-submit {
    width: 14%;
    border-radius: 0 5px 5px 0;
    padding: 11.5px;
    margin-left: -4px;
    color: #fff;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border: 0;
    background-color: var(--color_primary);
}

.tt_home_button > a.template-btn {
    display: inline-block;
    font-weight: 600;
    border-radius: 5px;
    padding: 16px 32px;
    color: #ffffff;
    background-color: var(--color_primary);
    vertical-align: middle;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.tt_home_button > a.template-btn:hover {
    background-color: #111010;
}

.sidebar .widget form .wp-block-search__inside-wrapper {
    position: relative;
    border: none;
}

.sidebar .widget .textwidget {
    overflow: hidden;
}

.sidebar .widget .textwidget p img {
    max-width: 100%;
    height: auto;
}

.wp-block-search .wp-block-search__label {
    margin-bottom: 15px;
}

.sidebar .widget ol.wp-block-latest-comments {
    padding-left: 0;
}


.comments_list li .comments_content ul li + li,
.comments_list li .comments_content ol li + li {
    margin-top: 0;
}

.page_wrapper ul li,
.page_wrapper ol li,
.autohive_blog_content ul li,
.autohive_blog_content ol li,
.comments_inner .comments_list li .comments_content ol li,
.comments_inner .comments_list li .comments_content ul li {
    margin-top: 10px;
}

.comments_list li .comments_content ul li + li::before,
.comments_list li .comments_content ol li + li::before {
    content: none;
}

.comments_list li.trackback,
.comments_list li.pingback {
    margin-top: 15px;
}

.comments_list li.pingback,
.comments_list li.trackback {
    list-style: none;
}

.comments_list li.trackback  + li::before,
.comments_list li.pingback  + li::before {
    content: none;
}

.comments_list li.pingback:last-child {
    margin-bottom: 30px;
}
.comments_inner.have_comments>ul.comments_list {
    padding-left: 0;
}
.breadcrumb-section .cat_wrapper a {
    border-color: #ffffff70;
    color: #b3afaf;
    border-radius: 2px;
    padding: 2px 10px;
}

.sidebar .widget ol.wp-block-latest-comments .wp-block-latest-comments__comment {
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 15px;
    padding-bottom: 15px;
    display: flex;
}

.sidebar .widget ol.wp-block-latest-comments .wp-block-latest-comments__comment:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}

.sidebar .widget ol.wp-block-latest-comments .wp-block-latest-comments__comment a {
    color: #001042;
    font-weight: 600;
    line-height: 1.5;
}

.sidebar .widget ol.wp-block-latest-comments .wp-block-latest-comments__comment a:hover {
    color: var(--color_primary);
}

.hm2-blog-card .hm2-blog-card-content .tag-btn {
    position: relative;
    margin-right: 5px;
}

#main-content,
.autohive_blog_content {
    overflow: hidden;
}

.wp-block-button__link {
    margin: 5px 0 10px 0;
}

.wp-block-button.is-style-squared .wp-block-button__link {
    border-radius: 0;
}

.wp-block-gallery.alignleft {
    margin-right: 15px;
}

p.comment-form-cookies-consent {
    margin-bottom: 0;
    margin-top: 10px;
}

p.form-submit {
    margin-bottom: 0;
}

.autohive_blog_content .wp-block-tag-cloud,
.autohive_blog_content .wp-block-search,
.autohive_blog_content .wp-block-latest-posts,
.autohive_blog_content .wp-block-archives-dropdown,
.autohive_blog_content .wp-block-latest-comments,
.autohive_blog_content .wp-block-categories-dropdown,
.autohive_blog_content .wp-block-calendar,
.autohive_blog_content>ul,
.autohive_blog_content>ol {
    margin-bottom: 30px;
}

.autohive_blog_content>ul li a {
    color: #001042;
}

.autohive_blog_content>ul li a:hover {
    color: var(--color_primary);
}

.wp-block-group.has-background {
    padding: 25px 30px 10px;
    margin-bottom: 20px;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
    padding-top: 20px;
}

.page-links a,
.page-links .current {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #f8f6f2;
    color: #111010;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    margin-left: 5px;
}

.page-links a:hover,
.page-links .current:hover {
    background: var(--color_primary);
    color: #fff;
}

.page-links .current {
    background: var(--color_primary);
    color: #fff;
}

.comment_form .comment-form-cookies-consent {
    margin: 12px 0 0 0;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: monospace;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code {
    color: var(--color_primary);
}

code,
kbd,
tt,
var {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

abbr,
acronym {
    border-bottom: 1px dotted #8a8da1;
    cursor: help;
}

mark,
ins {
    text-decoration: none;
}

big {
    font-size: 125%;
}

figure.wp-block-table table {
    margin-bottom: 30px;
}

table {
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid #dce0e5;
}

table thead {
    background: #f5f5f5;
}

table th {
    text-align: left;
    padding: 10px 5px;
    color: #111010;
    font-size: 16px;
    font-weight: 600;
    vertical-align: middle;
    text-align: center;
}

table tr td a,
table th a {
    color: #111010;
}

.sidebar .widget .calendar_wrap nav span a:hover,
table tr td a:hover,
table th a:hover {
    color: var(--color_primary);
}

table td {
    padding: 10px 5px;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #e5e3e3;
}

table td:last-child {
    border-right: 1px solid #dce0e5;
}

.wp-block-calendar table th {
    min-width: 40px;
    text-align: center;
}

.sidebar .widget table {
    margin-bottom: 0;
}

.sidebar .widget .calendar_wrap nav span a {
    color: #051441;
}

tbody {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    direction: ltr;
}

tbody>tr {
    border-top: 1px solid #dce0e5;
}

tfoot tr #prev a:hover,
tfoot tr #next a:hover {
    color: var(--color_primary);
}

tbody>tr>th {
    background-color: #f5f5f5;
}

table thead~tbody>tr>th {
    background-color: transparent;
}

caption {
    caption-side: top;
    text-align: center;
}

.calendar_wrap caption {
    text-align: center;
    background: #f0f2f9;
    color: #051441;
    font-weight: 500;
}

.calendar_wrap table thead tr {
    border: 0;
}

.calendar_wrap table thead tr th {
    border: 0;
}

nav.wp-calendar-nav {
    background: #f0f2f9;
    padding: 5px 20px;
}

.wp-calendar-nav-next {
    float: right;
}


.autohive_blog_content ol ol {
    padding-left: 20px;
}

.autohive_blog_content ul ol li,
.autohive_blog_content ol li {
    list-style-type: decimal;
}

.page_wrapper ul ol li,
.page_wrapper ul ol ul li,
.autohive_blog_content ol ul li,
.page_wrapper ul li,
.autohive_blog_content ul li {
    list-style-type: disc;
}

.autohive_blog_content .post-password-form input {
    padding: 6px;
    border: 1px solid #ddd;
    margin-right: -5px;
}

.comment-box-wrapper .comment-user-info {
    width: 100%;
}

.comment-box-wrapper .comment-user-info>ol,
.comment-box-wrapper .comment-user-info>ul {
    margin-bottom: 30px;
    margin-left: 18px;
}

.comment-box-wrapper .comment-user-info ol li {
    margin-top: 15px;
}

.comment-box-wrapper .comment-user-info ul li {
    margin-top: 15px;
    list-style-type: disc;
}

.comment-box-wrapper .comment-user-info ol ol,
.comment-box-wrapper .comment-user-info ul ul {
    margin-left: 20px;
}

.bd-comment-area ol.comment-lists>li.comment-box:first-child {
    border-top: none;
}

.comment-form p.comment-notes {
    margin-bottom: 30px;
}

.comment-form .input-field textarea,
.comment-form .input-field input {
    width: 100%;
    padding: 12px 15px;
    border-radius: 6px;
    border: 1px solid #E7E7E7;
}

.bypostauthor {
    display: block;
}

.bd-content-wrapper .bd-blog-tags a {
    margin-bottom: 9px;
}

/* Comment List */
.comments_inner .comments_list ul.children li {
    margin-top: 60px;
    position: relative;
}
.comments_inner .comments_list ul.children li:before {
    content: '';
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(11, 22, 63, 0.07);
}
.comments_inner .comments_list ul.children li .thumbnail img {
    width: 70px;
}
.comments_inner .comments_list #respond{
    margin: 25px 0 60px 110px;
}
.comments_inner .comments_list #respond .blog_title{
    font-size: 22px;
}
.comments_inner .comments_list #respond .blog_title small{
    margin-left: 10px;
}
.comments_inner .comments_list .children #respond{
    margin-left: 96px;
}
.depth-5 .comments_content p:last-child {
    margin-bottom: 0;
}
.comments_list ul.children + li{
    position: relative;
    margin-top: 60px;
}
.comments_list ul.children + li::before{
    content: "";
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(11, 22, 63, 0.07);
}

/*=============== List Styling ==================*/
.page_wrapper ul,
.blog-single-area ul.wp-block-latest-posts,
.blog-single-area ul {
    padding-left: 32px;
}

.blog-single-area ol.has-dates.wp-block-latest-comments {
    padding-left: 16px;
}


.sidebar .widget select {
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
    color: #001042;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat right 15px center;
    background-size: 12px;
    border: 1px solid rgba(11, 22, 63, 0.07);
    outline: none;
}

.sidebar .widget .calendar_wrap {
    margin-top: 35px;
}

.sidebar .widget ul#recentcomments li {
    position: relative;
    margin-top: 0;
    border-bottom: 1px solid #0b163f12;
    padding: 15px 0 15px 25px;
}

.sidebar .widget ul#recentcomments li a {
    display: inline;
    border: none;
}

.sidebar .widget ul#recentcomments li:last-child {
    border-bottom: 0;
}
.sidebar .widget ul#recentcomments li:before {
    background: none;
}

.sidebar .widget ul#recentcomments li:after {
    content: "\f075";
    position: absolute;
    top: 15px;
    left: 0;
    font-family: 'FontAwesome';
    font-weight: 400;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color_primary);
    margin-right: 8px;
    background: none;
}

.sidebar .widget .has-avatars li article .wp-block-latest-comments__comment-meta,
.sidebar .widget .has-avatars li article .wp-block-latest-comments__comment-excerpt {
    margin-left: 0;
}


/*Rss Widget*/
.widget_rss .rss-widget-title {
    color: #001042;
}

.widget_rss .rss-widget-title {
    color: #001042;
}

.widget_rss ul li a.rsswidget {
    border: none;
    padding: 0;
}

.widget_rss ul li {
    padding: 12px 0;
}

.widget_rss ul li:last-child {
    border: none;
}

.widget_rss ul li .rssSummary {
    margin: 10px 0;
}

.widget_rss ul li .rss-date {
    font-size: 14px;
}

.widget_rss ul li cite {
    color: #001042;
    font-size: 14px;
}

.widget_rss ul li cite:before {
    content: '- ';
}


/* Search Widget */
.sidebar .widget .widget-title+.search-widget {
    margin-top: 30px;
}

p.sticky-label {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 4px 12px;
    background: var(--color_primary);
    color: #ffffff;
    border-radius: 4px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
}


/* Text Widget */
.sidebar .widget .textwidget img {
    max-width: 100%;
    height: auto;
}

.sidebar .widget .textwidget img {
    max-width: 100%;
    height: auto;
    margin: 8px 0;
}

.sidebar .widget .textwidget {
    margin-top: 30px;
}

.nav-wrapper ul li a {
    font-weight: 600;
}

/** Blog List **/
.blog-list-wrapper .h2-blog-card + .h2-blog-card {
    margin-top: 30px;
}
.blog-list-wrapper .pt-like-it.disabled {
    pointer-events: none;
}
.template-pagination > .page-numbers {
    display: flex;
    gap: 8px
}
.template-pagination .page-numbers li span.current {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    color: #ffffff;
    font-weight: 600;
    border-radius: 3px;
    background: var(--color_primary);
    -webkit-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}
.blog-single-area .wp-block-cover.aligncenter {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.h2-blog-card .h2-blog-card-content p {
    word-break: break-word;
}

footer.site-footer {
    background-color: #f5f5f5;
    padding: 15px 0;
}
.site-footer.fixed_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.sidebar_left {
    flex-direction: row-reverse;
}

.blog-author .author-content a {
    color: #0b163f;
    text-transform: capitalize;
}

.blog-author .author-content a:hover {
    color: var(--color_primary)
}
.autohive_blog_content .post-password-form label>input {
    width: 96%;
}
.autohive_blog_content .post-password-form input[type=submit]{
    border-radius: 6px;
    border: 1px solid var(--color_primary);
}

/*Blog Image*/
.h2-blog-card .feature-img img,
.blog-single-area .bs-blog-thumb img {
    width: 100%;
}

/* Page titlebar */
.breadcrumb-style-2 .breadcrumb-content-wrapper .titlebar_title {
    color: #000;
}